*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2, 2, 51);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px auto;
    text-align: center;
    background: white;
    width: 750px;
    height: auto;
    padding: 35px 50px;
    border-radius: 5px;
}
.container h2{
    color: rgb(38, 38, 39);
    font-size: 42px;
    font-weight: 600px;
}
.container h2 span{
    font-weight: 700px;
    color: gray;
    border-bottom: 4px solid grey;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}
nav .logo{
    display: flex;
    margin: 0 10px;
}
nav .logo h1{
    margin-left: 10px;
    color: navy;
    font-family: cursive;
}
nav .logo img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.menu{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    margin-right: 10px;
    color: navy;
    font-weight: bolder;
    font-family: sans-serif;
}
.menu a:hover{
    border-bottom: 2px solid navy;
    margin-top: 5px;
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background: white;
    padding: 15px;
}
.passcon{
    background: white;
    width: 260px;
    /* padding: 18px 22px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border: 1px solid navy;
    border-bottom: 4px solid navy;
    border-radius: 4px;
}
.passcon input{
    width: 270px;
    height: 30px;
    border: 0;
    outline: 0;
    margin-left: 10px;
}
button{
    padding: 15px 45px;
    border: 0;
    outline: 0;
    background: navy;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    border-radius: 5px;
}